<!DOCTYPE html>
<html lang="ko">
<head>
    <title>main page</title>
</head>
<body>
    <p><b>Name</b> <input type="text" id="Name" name="Name"/> </p>
    <p><b>Student Number</b> <input type="text" id="StudentNumber" name="StudentNumber"/></p>
    <p><b>Major</b> <input type="text" id="Major" name="Major" /></p>
    <label>Gender</label><br>
    <input type="radio" name="gender" value="male"> Male <br>
    <input type="radio" name="gender" value="female"> Female <br>

    <label>Programming Languages</label><br>

    <input type="checkbox" id="python" name="PL_list" value="Python">
    <label for="python">Python</label><br>

    <input type="checkbox" id="java" name="PL_list" value="Java">
    <label for="java">Java</label><br>

    <input type="checkbox" id="html" name="PL_list" value="HTML">
    <label for="html">HTML</label><br>

    <input type="checkbox" id="cpp" name="PL_list" value="C++">
    <label for="cpp">C++</label><br>
</body>
</html>